*/.DS_Store
.DS_Store
.vs/*
x64/*
x86/*
cube_car/x64/*
cube_car/x86/*

*/.idea/*
.idea/*

*/build/*
*/build-x64/*
*/build-x86/*
*/build-x64-debug/*
*/build-x86-debug/*
*/build-x64-release/*
*/build-x86-release/*
*/build-x64-clang/*
*/build-x86-clang/*
*/build-x64-clang-debug/*
*/build-x86-clang-debug/*
*/build-x64-clang-release/*
*/build-x86-clang-release/*
*/build-x64-clang-ubsan/*
*/build-x86-clang-ubsan/*
*/build-x64-clang-asan/*
*/build-x86-clang-asan/*
*/build-x64-clang-msan/*
*/build-x86-clang-msan/*
*/build-x64-clang-lsan/*
*/build-x86-clang-lsan/*
*/build-x64-clang-tsan/*
*/build-x86-clang-tsan/*
*/build-x64-clang-dsan/*
*/build-x86-clang-dsan/*
*/build-x64-clang-isan/*
*/build-x86-clang-isan/*
*/build-x64-clang-ubsan-debug/*
*/build-x86-clang-ubsan-debug/*
*/build-x64-clang-ubsan-release/*
*/build-x86-clang-ubsan-release/*
*/build-x64-clang-asan-debug/*
*/build-x86-clang-asan-debug/*
*/build-x64-clang-asan-release/*
*/build-x86-clang-asan-release/*
*/build-x64-clang-msan-debug/*
*/build-x86-clang-msan-debug/*
*/build-x64-clang-msan-release/*
*/build-x86-clang-msan-release/*
*/build-x64-clang-lsan-debug/*
*/build-x86-clang-lsan-debug/*
*/build-x64-clang-lsan-release/*

*/CMakeFiles/*
*/CMakeCache.txt
*/cmake_install.cmake
*/Makefile
*/CMakeScripts/*
*/CMakeTmp/*
*/CMakeLists.txt/*
CMakeLists.txt
